parameters:
    secret:            ThisTokenIsNotSoSecretChangeIt

    webhome_auth_url: 'http://localhost:8001/app_dev.php'
    client_id: 2_5f4iikcxri804co4cgwksccgo0sww08kc888w4wossog0k0ss4
    client_secret: 4mjc8g8q8884c00owg48s00kc8ooowokcswgkk0c4wcggwossg
